# Ignora dependências do Node.js
node_modules/

# Ignora arquivos de configuração sensíveis (como o .env)
.env

# Ignora arquivos de log
*.log

# Ignora arquivos de cache e temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora arquivos de sistema (macOS, Windows)
.DS_Store
Thumbs.db
